<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <title>XTimes</title>
</head>
<body>
    <h1>Small Image? No Problem!</h1>
    <h3>Super sample your image here!</h3>
    <p>Using a Swin based transformer</p>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>
</body>
</html>
